.forge-theme-default {
  --forge-gap-small-xx: 2px;
  --forge-gap-small-x: 0.25rem;
  --forge-gap-small: 0.5rem;
  --forge-gap-medium: 0.75rem;

  --forge-border-radius: 0.25rem;

  --forge-color-label: #202020;
  --forge-color-border: rgba(32, 32, 32, 0.5);
  --forge-color-disabled: #b6b6b6;
  --forge-color-error: #b60000;

  &.forge-form {
    font-family: Montserrat, sans-serif;
    font-size: 14px;

    gap: var(--forge-gap-small);
  }

  .forge-form-field-container {
    gap: var(--forge-gap-small-xx);

    &--row {
      align-items: center;
    }
  }

  .forge-form-group {
    gap: var(--forge-gap-medium);
  }

  .forge-form-field-label {
    color: var(--forge-color-label);
    font-weight: 600;
  }

  .forge-form-hint {
    font-size: 12px;
    color: var(--forge-color-label);
  }

  .forge-form-error {
    font-size: 12px;
    color: var(--forge-color-error);
  }

  .forge-form-input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--forge-color-border);
    border-radius: var(--forge-border-radius);
    padding: 0.5rem 0.75rem;
  }

  .forge-form-button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--forge-color-label);
    border-radius: var(--forge-border-radius);
    background-color: #ffffff;
    color: var(--forge-color-label);
    font-weight: 600;
    cursor: pointer;

    &:disabled {
      color: var(--forge-color-disabled);
      border-color: var(--forge-color-disabled);
      cursor: default;
    }
  }
}
